asgiref==3.7.2
Django==4.2.2
djangorestframework==3.14.0
pytz==2018.5
sqlparse==0.4.4
typing_extensions==4.6.3
tzdata==2023.3

pip~=23.1.2
PyYAML~=6.0
setuptools~=58.1.0
platformdirs~=3.5.1